
* { background-color: #191919; color: white; margin:0; background: transparent; }

@media screen and (min-width:320px) {
    body { background-image: url(https://images7.alphacoders.com/105/1058528.jpg); background-repeat: no-repeat; background-size: 100%, 100%; }
    
    #logo
    {
        top: 10px;
        left: 8.9vh;
        width: 690px;
        height: 270px;
        position: relative;
        border: none;
        cursor: pointer;
    }

    #menu-container 
    {
        background-color: #191919;
        left: 50vh;
        width: 90vh;
        height: 99vh;
        border: solid orange 5px;
        border-radius: 5px;
        overflow: auto;
        overflow-x: hidden;
        position: relative;
    }

    .pastry-container, .drink-container
    {
        margin: 5px;
        display: contents;
        position: relative;
    }

    .pastry, .drinks
    {
        left: 5vh;
        margin: 5px;
        display: inline-block;
        position: relative;
        width: 210px;
        height: 190px;
        border-radius: 5px;
    }

    hr
    {
        margin: 5vh;
    }

    .txt
    {
        left: 0;
        font: bold;
        display: block;
        text-align: center;
        position: relative;
    }

    h1, p
    {
        left: 6vh;
        position: relative;
        text-align: center;
        display: block;
    }

    img
    {
        border: solid orange 3px;
    }
}