
* { background-color: #191919; color: white; margin:0; background: transparent; }

@media screen and (min-width:320px) {
    body { background-image: url(https://images7.alphacoders.com/105/1058528.jpg); background-repeat: no-repeat; background-size: 100%, 100%; }
    
    #menu-container 
    {
        background-color: #191919;
        left: 50vh;
        width: 90vh;
        height: 99vh;
        border: solid orange 5px;
        border-radius: 5px;
        overflow: auto;
        overflow-x: hidden;
        position: relative;
    }

    .pastry-container, .drink-container
    {
        filter: none;
        display: contents;
        text-align: center;
        position: absolute;
    }

    .pastry, .drinks
    {
        margin: 5px;
        display: inline-block;
        position: relative;
        width: 210px;
        height: 190px;
        border-radius: 5px;
    }
}